@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: calc(100vw - 40px);
    margin: 0 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
}

.header {
    width: 100%;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

    &__container {
        height: 100%;
        padding: 16px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    
    &__search {
        position: absolute;
        bottom: 0;
        border-top: 1px solid #BBC4D6;
        width: 100vw;
        margin: 0 20px 0 -20px;
        padding: 0 0 0 20px;
        height: 42px;
        z-index: 2;
    } 
    
    &__user {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.user {
    display: none;

    &__name {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        text-align: right;
        letter-spacing: 0.01em;
        color: #768298;
        margin: 0 10px 0 19px;
    }
}

.search {

    &__form {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__input {
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        width: calc(100vw - 70px);
        padding: 4px 5px;
        border-radius: 6px;
        
        &:focus{
            border: none;
            outline: none;
        }
        
        &::placeholder {
            color: #BBC4D6;
        }
    }
}

.partners {
    width: 100vw;

    &__content {
        padding: 70px 0 73px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__title {
        margin: 0 0 30px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        background: #FFFFFF;
        border: 1px solid #EBEBF1;
        box-sizing: border-box;
        border-radius: 5px;
        height: 140px;
        margin: 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        position: relative;

        &:last-child {
            margin: 0;
        }

        & img {
            max-height: 100%;
            max-width: 100%;
        }

        &:hover {
            cursor: pointer;
            box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
        }
    }
}

