@media screen and (min-width: 768px){
    .header {
        height: 80px;

        &__container {
            padding: 0;
            align-items: center;
        }

        &__search {
            border: 1px solid #EBEBF1;
            border-radius: 5px;
            position: inherit;
            width: calc(100vw - 423px);
            margin: 0;
            height: 40px;
            padding: 0 0 0 10px;
            margin: 0 50px;
        }

        &__user {
            height: 100%;
            border-left: 1px solid #EBEBF1;


            &_mini {
                display: none;
            }
            
            &_max {
                display: flex;
                align-items: center;
            }
        }
    }

    .partners {
        &__content {
            padding: 70px 0 400px;
        }

        &__items {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__item {
            width: calc((100vw - 80px) / 3);
            height: 120px;
            padding: 15px;
            margin: 0 20px 20px 0;

            &:nth-child(3n) {
                margin: 0;
            }

            & img {
                position: absolute;
                top: 50%;
                left: 50%;
                object-fit: contain;
                max-width: none;
                max-height: none;
                width: 100%;
                height: 100%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                max-height: calc(100% - 50px);
                max-width: calc(100% - 50px);
            }
        }
    }
}